core-main-app @ git+https://github.com/Moha-Abbas/AM_core_main_app.git
core-explore-common-app @ git+https://github.com/Moha-Abbas/AM_core_explore_common_app.git
core-dashboard-common-app @ git+https://github.com/Moha-Abbas/AM_core_dashboard_common_app.git
